<div id="Nav">
    <div id="logo-menu">
        <a href="#"><img id="burger" src="Assets/icon-menu.svg" alt=""></a>
        <a href="#"><img id="logo" src="Assets/logo.svg" alt=""></a>
        <div id="menu">
            <a href="collectionscroll.html">Collections</a>
            <a href="mens.html">Men</a>
            <a href="Ladies.html">Women</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div class="spacer"></div>
    <div id="perso">
        <!-- <a href="http://"></a> -->
        <img id="cart" src="Assets/icon-cart.svg" alt="">
        <span></span>
        <!-- <a href="http://"></a> -->
        <img id="avatar" src="Assets/image-avatar.png" alt="">
        <div id="modal-cart">
            <div id="cart-header"> <h5>Cart</h5></div>
            <div id="cart-body">
                <h5>Your cart is empty</h5>
                <div class="cart-content">  
                    <!-- <div class="cart-item">
                        <img src="images/image-product-1-thumbnail.jpg" alt="">
                        <p>Fall Limited Edition Sneakers</p>
                        <p class="itemize">$125.00 x 3</p>
                        <h5 class="total">$375.00</h5>
                        <img src="images/icon-delete.svg" alt="">
                    </div> -->
                </div>
                <a href="http://" class="button"><h5>Checkout</h5></a>
            </div>
        </div>
    </div>
</div>